@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
<p>I want to print to this specific printer:</p>
<div>
@Html.RadioButton("rdbtnLocal","0",false)
</div>
<div>
@Html.RadioButton("rdbtnNetwork","1",true)
</div>
</div>
